<h2>My Pets</h2>
<div>
  <label for="new-pet">Pet name:</label>
  <input id="new-pet" [(ngModel)]="newPetName" placeholder="name">
  <button mat-flat-button color="primary" (click)="add()">Add Pet</button>
</div>


<ul class="pets">
  <li *ngFor="let pet of pets">
    <!-- Campo para editar o nome do pet -->
    <input [(ngModel)]="pet.name" placeholder="Pet name">
    <!-- Botão para salvar a edição -->
    <button mat-flat-button color="primary" (click)="update(pet)">Save</button>
    <!-- Botão para excluir o pet -->
    <button mat-icon-button color="warn" (click)="delete(pet)">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
</ul>
